<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Persons</title>
    <link rel="stylesheet" th:href="@{style.css}"/>
</head>
<body>
    <a th:href="@{/persons/create}">Create person</a>
    <table>
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Street</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody th:each="person, loop: ${persons}">
            <tr>
                <th th:text="${person.firstName}"></th>
                <th th:text="${person.lastName}"></th>
                <th th:text="${person.address == null ? '' : person.address.street}"></th>
                <th th:text="${person.address == null ? '' : person.address.city}"></th>
                <th><a th:href="@{'/persons/' + (${loop.index}+1) + '/edit'}">Edit</a></th>
            </tr>
        </tbody>
    </table>
</body>
</html>